<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="UTF-8">
	<title>Fit-AI - Program</title>
	<!-- =================== META =================== -->
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="static/img/favicon.png">
	<!-- =================== STYLE =================== -->
	<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-grid.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body id="home" class="page-program">
	<!--================ PRELOADER ================-->
	<div class="preloader-cover">
		<div id="cube-loader">
			<div class="caption">
				<div class="cube-loader">
					<div class="cube loader-1"></div>
					<div class="cube loader-2"></div>
					<div class="cube loader-4"></div>
					<div class="cube loader-3"></div>
				</div>
			</div>
		</div>
	</div>
	<!--============== PRELOADER END ==============-->
	
	<!-- ================= HEADER ================= -->
	<header class="header">
		<a href="#" class="nav-btn">
			<span></span>
			<span></span>
			<span></span>
		</a>
		
		<div class="top-panel">
			<div class="container">
				<nav class="nav-menu">
					<ul class="nav-list">
						<li><a href="index">HOME</a></li>
					</ul>
				</nav>
				<div class="header-right">
					
					<ul class="social-list">
						<li><a target="_blank" href="https://www.facebook.com/rovadex"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://twitter.com/RovadexStudio"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.instagram.com/rovadex"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="header-menu">
			<div class="container">
				
			</div>
		</div>
	</header>
	<!-- =============== HEADER END =============== -->

	<!-- =============== HEADER-TITLE =============== -->
	<section class="s-header-title" style="background-image: url(static/img/bg-1-min.png);">
		<div class="container">
			<h1 class="title">Body-Building Program</h1>
			<ul class="breadcrambs">
				<li><a href="index">Home</a></li>
				<li>Program</li>
			</ul>
		</div>
	</section>
	<!-- ============= HEADER-TITLE END ============= -->

	<!-- ============== S-ABOUT-PROGRAM ============== -->
	<section class="s-about">
		<div class="container">
			<img class="about-effect-tringle" src="static/img/tringle-about-top.svg" alt="img">
			<div class="row about-row">
				<div class="col-md-5 about-img-col">
					<div class="about-img-cover">
						<div class="about-img-1">
							
							<img class="about-img-effect-2" src="static/img/group-circle-2.svg" alt="img">
							<img src="static/img/bodybuilding.png" alt="img">
						</div>
					
					</div>
				</div>
				<div class="col-md-7 about-info-cover">
					<h2 class="title-decor">About <span>Program</span></h2>
					<div class="text">
						<p>Bodybuilding is the use of progressive resistance exercise to control and develop one's muscles by muscle hypertrophy for aesthetic purposes.</p>
						<p> <!--<a href="contacts.html">enim ad minim</a>-->Schedule includes exercises to increase the muscle mass. ( Bicep curls , Pull-ups , Push-ups ,tricep pushdown)</p>
					</div>
					<ul class="about-cont">
						<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:180048844">1-800-488-60321</a></li>
						<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="fit-ai@gmail.com">fit-ai@gmail.com</a></li>
					</ul>
					<ul class="social-list">
						<li><a target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- ============ S-ABOUT-PROGRAM END ============ -->

	<!-- ============== S-ABOUT-BOTTOM ============== -->

	<!-- ============ S-ABOUT-BOTTOM END ============ -->

	<!-- ============== S-OUR-PROGRAMS ============== -->

	<!-- ============ S-OUR-PROGRAMS END ============ -->

	<!-- =========== S-TRAINING-SCHEDULE =========== -->
	<section class="s-training-schedule" style="background-image: url(static/img/bg-table-1.svg);">
		<div class="container">
			<h2 class="title-decor">Training <span>Schedule</span></h2>
			<p class="slogan">Clicking on an Exercise will take you to its Ai trainer page</p>
			<div class="training-schedule-cover">
				<h3 class="training-schedule-top">1-7 JUNE, 2022</h3>
				<div class="training-schedule-table">
					<table>
						<thead>
							<th></th>
							<th>monday</th>
							<th>tuesday</th>
							<th>wednesday</th>
							<th>thursday</th>
							<th>friday</th>
							<th>saturday</th>
							<th>sunday</th>
						</thead>
						<tbody>
							<tr>
								<td>9-00</td>
								<td>
									<a href="bicep_curls"><h4>Bicep-Curls</h4></a>
									<div class="date">9-00 – 11:00</div>
									
								</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<a href="tricep"><h4>Tricep-pushdown</h4></a>
									<div class="date">9-00 – 11:00</div>
								</td>
							</tr>
							<tr>
								<td>10-00</td>
								<td></td>
								<td>
									<a href="tricep"><h4>Tricep-pushdown</h4></a>
									<div class="date">10-00 – 12:00</div>
									
								</td>
								<td></td>
								<td></td>
								<td>
									<a href="pushup"><h4>Push-ups</h4></a>
									<div class="date">10-00 – 12:00</div>
									
								</td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>11-00</td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<a href="pullup"><h4>Pull-ups</h4></a>
									<div class="date">11-00 – 12:00</div>
									
								</td>
								<td></td>
								<td>
									<a href="bicep_curls"><h4>Bicep-Curls</h4></a>
									<div class="date">11-00 – 12:00</div>
									
								</td>
								<td></td>
							</tr>
							<tr>
								<td>12-00</td>
								<td>
									<a href="pushup"><h4>Push-ups</h4></a>
									<div class="date">12-00 – 13:00</div>
									
								</td>
								<td></td>
								<td>
									<a href="pullup"><h4>Pull-ups</h4></a>
									<div class="date">12-00 – 13:00</div>
									
								</td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<a href="bicep_curls"><h4>Bicep-Curls</h4></a>
									<div class="date">12-00 – 13:00</div>
									
								</td>
							</tr>
							<tr>
								<td>13-00</td>
								<td></td>
								<td>
									<a href="pullup"><h4>Pull-ups</h4></a>
									<div class="date">13-00 – 14:00</div>
									
								</td>
								<td></td>
								<td></td>
								<td>
									<a href="tricep"><h4>Tricep-pushdown</h4></a>
									<div class="date">13-00 – 14:00</div>
								</td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<!-- ========= S-TRAINING-SCHEDULE END ========= -->

	<!-- ================ S-CONTACTS ================ -->

	<!-- ============== S-CONTACTS-END ============== -->

	<!-- ================== FOOTER ================== -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 footer-item-logo">
					<a href="index" class="logo-footer"><img src="static/img/footer-logo2.svg" alt="logo"></a>
					<p>stay connected with us</p>
					<ul class="social-list">
						<li><a target="_blank" href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
						<li><a target="_blank" href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-lg-3 footer-item footer-item-list">
					<h3>Links</h3>
					<ul class="footer-link">
						<li><a href="#">1) Top of the page</a></li>
						<li><a href="index">2) Home</a></li>
						<li><a href="tricep">3) Tricep-pushdown</a></li>
						<li><a href="pushup">4) Pushups</a></li>
						<li><a href="pullup">5) Pullups</a></li>
						<li><a href="bicep_curls">6) Bicep-curls</a></li>
					</ul>
				</div>
				<div class="col-sm-6 col-lg-3 footer-item">
					<h3>Contact us</h3>
					<ul class="footer-cont">
						<li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:18004886000">1-800-488-6099</a></li>
						<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:aiFt@gmail.com">aiFit@gmail.com</a></li>
						<li><i class="fa fa-map-marker" aria-hidden="true"></i> India,state,21</li>
					</ul>
				</div>

			</div>
			<div class="footer-bottom">
				<div class="copyright"><a href="#" target="_blank"></a></div>
				<ul class="footer-menu">
					<li><a href="index">Home</a></li>
				</ul>
			</div>
		</div>
	</footer>
	<!-- ================ FOOTER END ================ -->

	<!--=================== TO TOP ===================-->
	<a class="to-top" href="#home">
		<i class="fa fa-chevron-up" aria-hidden="true"></i>
	</a>
	<!--================= TO TOP END =================-->

	<!--=================== SCRIPT	===================-->
	<script src="{{ url_for('static',filename='js/jquery-2.2.4.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
</body>

</html>